body {
  background-color: black;
}

h1 {
  color: white;
  font-family: "Lucida Console", monospace;
  text-align: left;
}

p {
  color: white;
  font-family: "Lucida Console", monospace;
  font-size: 20px;
}
